@import "../../styles/app.scss";

.header {
    position: fixed;
    left: 0;
    right: 0;
    height: 60px;
    top: 0;
    z-index: 999999;
    background: white;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    .header_title {
        @include text-general-black($p900);
        text-transform: uppercase;
        line-height: 60px;
        float: left;
        margin-left: 20px;
    }
    .header_right {
      float: right;
      @include clearfix;
      .right_username {
        display: inline-block;
        @include text-general-black($p900);
        margin-right: 20px;
        line-height: 60px;
        text-transform: capitalize;
      }
    }
    .header_form {
        height: 40px;
        margin-top: -50px;
        display: inline-block;
        border-radius: 2px;
        .form_search {
            border-radius: 2px;
            background: #f4f4f4;
            line-height: 40px;
            display: block;
            height: 40px;
            margin-right: 20px;
            border: none;
            padding-left: 10px;
        }
    }
}