html {
  overflow-x: hidden;
}

html, body {
  height: inherit;
}

body {
  font-family: $sans;
  font-size: 16px;
  font-weight: $m-font-weight;
  line-height: $m-line-height;
  margin: 0;
  background: #F3F4F0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
}


::selection {
  background-color: $p700;
  text-shadow: none;
}

::-moz-selection {
  background-color: $p700;
  text-shadow: none;
}

::-webkit-input-placeholder { color: $p300; opacity: .7; }
::-moz-placeholder { color: $p300; opacity: .7; }
:-ms-input-placeholder { color: $p300; opacity: .7; }
input:-moz-placeholder { color: $p300; opacity: .7; }

a {
  text-decoration: none;
  @include text-general-black($p900);
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}



// COMPONENTS
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row.full {
  max-width: 100%;
}